.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.grid {
    height: 432px;
    width: 400px;
}

.grid img {
    width: 100px;
}

.match {
    opacity: 0.5;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.show {
    visibility: visible;
    opacity: 1;

    transition-delay: 0s;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}